<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="mb-2 align-items: center;  justify-content: center">
      <img 
      src="\assets\icono.png"
      class="col-lg-2 "
      alt="Boat on Calm Water"
    />
    </div>

    <ul class="mb-10 navbar-nav mr-auto">

     <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/actualizarMascotas']" *ngIf="validarPermisos(5)">mascotas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/cliente']" *ngIf="validarPermisos(2)">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"  [routerLink]="['/actualizarColaborador']" *ngIf="validarPermisos(3)">colaborador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/actualizarProducto']" *ngIf="validarPermisos(0)">producto</a>
      </li>


    </ul>

    <div class="mb-2 align-items: center;  justify-content: center">
      <a class="nav-link" href="#" [routerLink]="['/login']">cerrar sesion</a>
    </div>
    
  </div>
</nav>