
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" [routerLink]="['/mascotas']">Agregar
        Mascota</button>
</div>
<br>
<div class="modal-body">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">Seleccion usuario</th>
                <th scope="col" class="text-center">nombre mascota</th>
                <th scope="col" class="text-center">Apodo</th>
                <th scope="col" class="text-center">edad</th>                
                <th scope="col" class="text-center">raza</th>
                <th scope="col" class="text-center">color</th>
                <th scope="col" class="text-center">Editar </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mascota of Listamascotas ">
                <td>{{ mascota.seleccion}}</td>
                <td>{{ mascota.nombre}}</td>
                <td>{{ mascota.apodo}}</td>
                <td>{{ mascota.edad}}</td>
                <td>{{ mascota.raza}}</td>
                <td>{{ mascota.color}}</td>
                <td> <input  type="button" class="btn btn-info" value="Editar" (click)="EditarMascota(mascota.seleccion, mascota.nombre)" /> </td> 

            </tr>
    </table>
</div>
